---
import github from "@assets/icons/github-white.svg?raw";
---

<footer class="footer">
  <p>Made by Evan Kim with ❤️ using Astro and three.js</p>
  <a href="https://github.com/Evanston09/portfolio" target="_blank">
    <Fragment set:html={github} />
  </a>
</footer>

<style>
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--midnight-blue);
  }

  p {
    color: var(--light);
    text-align: center;
  }
</style>
