---
import BusinessCard from "@components/BusinessCard.astro";
import github from "@assets/icons/github-hover.svg?raw";
import document_icon from "@assets/icons/document.svg?raw";
import matrix from "@assets/icons/matrix.svg?raw";
---

<div class="title split full-page">
  <div>
    <h1 class="no-margin">
      Hello World, I am <br /><strong>Evan Kim</strong>
    </h1>
    <h2 class="no-margin">Software Developer</h2>
    <h3 class="no-margin">
      <a href="https://github.com/Evanston09" target="_blank">
        <Fragment set:html={github} />
      </a>
      <a href="/resume.pdf" target="_blank">
        <Fragment set:html={document_icon} />
      </a>
      <a href="https://matrix.to/#/@evanston:evankim.me" target="_blank">
        <Fragment set:html={matrix} />
      </a>
    </h3>
  </div>
  <BusinessCard height=".8" width=".5" small_height=".5" small_width="1" />
</div>

<style>
  .full-page {
    min-height: 100vh;
  }
  h1 {
    color: var(--light);
    font-size: 3.125rem;
  }

  h1 strong {
    font-size: 3.75rem;
    font-weight: 800;
  }

  h2 {
    font-size: 1.75rem;
    color: var(--subheading-1);
  }
  a {
    text-decoration: none;
  }
  svg:hover {
    fill: var(--subheading-1);
  }
  .split {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  @media (max-width: 768px) {
    .split {
      flex-direction: column;
      justify-content: flex-start;
    }
    .title {
      width: 100vw;
      text-align: left;
    }
  }
  .no-margin {
    margin: 0;
  }
</style>
