---
---

 <div class="topnav">
  <a href="#about">About Me</a>
  <a href="#projects">My Projects</a>
  <a href="#contact">Contact Me</a>
  <a href="/resume.pdf">resume.pdf</a>
</div>

<style>
.topnav {
  position: absolute;
  top: 0;
  right: 0;
}

.topnav a {
  float: left;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.063rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: var(--subheading-1);
}

</style>
