<nav class="big_topnav">
  <a href="/#about">About Me</a>
  <a href="/#projects">My Projects</a>
  <a href="/#contact">Contact Me</a>
  <a href="/resume.pdf" target="_blank">resume.pdf</a>
</nav>

<nav class="topnav">
  <div class="topright">
    <div id="hamburger" class="hamburger">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  <div id="links" class="links">
    <a href="/#about">About Me</a>
    <a href="/#projects">My Projects</a>
    <a href="/#contact">Contact Me</a>
    <a href="/resume.pdf" target="_blank">resume.pdf</a>
  </div>
</nav>

<style>
  .big_topnav {
    display: flex;
    gap: 1.8rem;
    margin: 14px 16px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .big_topnav a {
    color: var(--light);
    text-decoration: none;
    font-size: 1.063rem;
  }

  .big_topnav a:hover {
    color: var(--subheading-1);
  }

  @media (max-width: 768px) {
    .big_topnav {
      display: none;
    }
  }

  .topnav {
    background-color: var(--oxford-blue);
  }
  .topright {
    display: flex;
    justify-content: right;
  }

  .links {
    display: none;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .links a {
    color: var(--light);
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.05rem;
    display: block;
  }

  .links a:hover {
    color: var(--subheading-1);
  }

  .hamburger {
    cursor: pointer;
    padding: 14px 16px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  @media (min-width: 768px) {
    .topnav {
      display: none;
    }
  }
</style>

<script>
  const links = document.getElementById("links");
  const hamburger = document.getElementById("hamburger");
  if (links && hamburger) {
    function toggleMenu() {
      links!.style.display =
        links!.style.display === "block" ? "none" : "block";

      hamburger!.classList.toggle("change");
    }

    hamburger.addEventListener("click", toggleMenu);
  }
</script>
