---
import { Image } from 'astro:assets';
const { title, description, image, alt} = Astro.props;
---

<div class="card">
    <Image src={image} alt={alt} class="card-image" />
    <div class="card-content">
        <h1>{title}</h1>
        <p>{description}</p>
    </div>
</div>
<style>
h1 {
    color: var(--light);
    font-size: 25px;
}
p {
    color: var(--dim-gray);
    font-size: 15px;
    margin: 0px;
}
.card-content {
    padding-left: 15px;
    padding-right: 15px;
}
.card {
    display:flex;
    flex-direction: column;
    width: 400px;
    height: 750px;
    background: var(--midnight-blue);
    border-radius: 20px;
}
.card-image {
    height: 50%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
</style>
