---
const { title, description } = Astro.props;
---

<h1>{title}</h1>
<div class="limited-width">
  <p>{description}</p>
</div>

<style>
  .limited-width {
    width: 70vw;
  }
  @media (max-width: 768px) {
    .limited-width {
      width: 95vw;
    }
  }
  h1 {
    color: var(--light);
    font-size: 3.125em;
    margin: 0;
  }
  p {
    color: var(--subheading-1);
    font-size: 1.25em;
    text-align: center;
  }
</style>
