---
const {title, description} = Astro.props;
import Icon from './Icon.astro';
---

<h1>{title}</h1>
<div class="limited-width">
    <p>{description}</p>
</div>

<style>
    .limited-width {
        width: 90vw;
    }
    h1 {
        color: var(--light);
        font-size: 3.125em;
        margin: 0;
    }
    p {
        color: var(--dim-gray);
        font-size: 1.25em;
    }
</style>
